extends layout

block content

	if errorMessage
		div.error
			p= errorMessage

	h1 Ajouter un nouvel utilisateur

	form(method="POST" action="/utilisateurs/ajouter")
		label(for="nom") Nom de l'utilisateur :
		input(type="text" name="nom" id="nom")

		label(for="prenom") Prenom de l'utilisateur :
		input(type="text" name="prenom" id="prenom" )

		label(for="email") Email de l'utilisateur :
		input(type="mail" name="eamil" id="email")

		label(for="role") Role de l'utilisateur (user/admin) :
		input(type="text" name="role" id="role")

		button(type="submit") Créer l'utilisateur

		
