extends layout

block content
	h1 Utilisateur créé avec succès
	h2 Détails de l'utilisateur :
	p Nom : #{nom}
	p Prénom : #{prenom}
	p Email : #{email}
	p Rôle : #{role}
	a(href="/utilisateurs") Retour à la liste des utilisateurs